.inputError{
    color: red;
}

.btnRojoDerecha{
    background-color: #fe6261; 
    color: white;
    float: right;
    border: 0;
    padding: 5%;
}
/* .btnRojoDerecha:hover{
    background-color: white; 
    color: #fe6261;
    border: 1px solid #fe6261;
} */